.container {
  width: 1200px;
  margin: 0 auto;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week2/banner.png?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top:308px;
  padding-bottom: 308px;
}

.header-context {
  color:white;
  width: 300px;
  margin: 0 auto;
  & span {
    line-height: $lh-l;
  }
  & h1 {
    font-size: $fz-xl;
    line-height: $lh-xxl;
  }

  & h4 {
    line-height: $lh-m;
    margin-top: 32px;
  }

  & .social-media {
  margin-top: 40px;
  display:flex;
  justify-content: space-between;
}
}

.about {
  margin-top: 56px;
  font-weight: bold;
  & img {
    display: inline-block;
    margin-top: 40px;
    width: 384px;
    height: 384px;
  }

  & li {
    line-height: $lh-l;
    text-align: center;
  }

  & hr {
    width: 384px;
    border-bottom: 1px solid black;
    margin-top: 24px;
    display: inline-block;
  }
}

.section-title {
  font-size: $fz-l;
  line-height:  $lh-xl;
}

.about-title {
  & li::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 16px;
  background-color: #891818;
  border-radius: 50%;
  vertical-align: middle;
}
}

.mybrand {
  margin-top: 56px;
  padding-top: 56px;
  padding-bottom: 160px;
  background-color: black;
  color:white;

  & h3 {
    line-height: $lh-l;
    margin-top: 12px;
  }

  & p {
    margin-top: 32px;
    font-size: $fz-s;
    line-height:  $lh-s;
    text-align: center;
    margin-bottom: 68px;
  }

  & ul {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    justify-content: center;
  }

  & li {
    margin-bottom: 40px;
    margin-right: 24px;
  }
}

.flex {
  display: flex;
}

.otherworks {
  margin-top: 56px;

  & p {
    font-size: $fz-s;
    line-height: $lh-s;
  }

  & .work {
    margin-top: 56px;
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    justify-content: space-between;

    & li {
      margin-bottom: 48px;
    }

    & a {
     text-align: center;
     font-size: $fz-s;
     line-height: $lh-l;
    }
  }
}

footer {
  margin-top: 144px;
  background-color: black;
  color: white;
  padding-top: 64px;
  padding-bottom: 64px;

  & li {
    margin-top: 16px;
  }
  & a {
    color:white;
    line-height:  $lh-m;
  }

  & a:hover {
      color:orange;
    }
}